<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      ទំនាក់ទំនង
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	
		
	<ion-card>
		<img class="logo" [src]="logo" />
		<ion-card-content>
			<ion-card-title text-center>
				KHMER NEWS LIVE 24
			</ion-card-title>
		</ion-card-content>
	</ion-card>

	<ion-card>
		
		<ion-card-content>
			
			<ion-list>
				<ion-item>
					<ion-icon name="logo-chrome" item-start></ion-icon>
					www.khmernewslive24.com
				</ion-item>
				<ion-item>
					<ion-icon name="logo-facebook" item-start></ion-icon>
					fb.com/khmernewslive24
				</ion-item>
				<ion-item>
					<ion-icon name="call" item-start></ion-icon>
					096 926 9999
				</ion-item>
			</ion-list>
		</ion-card-content>
	</ion-card>
</ion-content>
